/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f7f6;
    color: #333;
    margin: 0;
    padding: 0;
    height: max-content;
}

header {
    background-color: #000000;
    color: rgb(255,255,255);
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: rgb(255, 196, 0);
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Form Styles */
h2 {
    color: rgb(0,0,0);
    margin: 20px 0 10px 0;
    text-align: center;
}
h3 {
    color: rgb(0,0,0);
    margin: 20px 0 10px 0;
    text-align: center;
    margin-bottom: 22rem;
}

form {
    background: white;
    border-radius: 5px;
    max-width: 600px;
    margin: 20px auto;
    padding: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dhikasepuh {
    margin-bottom: 22rem;
}

form input[type="text"],
form input[type="number"],
form input[type="date"],
form input[type="file"],
form button {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form input[type="file"] {
    padding: 5px;
}

form button {
    background-color: #000;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #000;
}

footer {
    background-color: rgb(255, 196, 0);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
    header,
    footer {
        text-align: center;
    }

    nav ul {
        text-align: center;
    }

    nav ul li {
        display: block;
        margin: 5px 0;
    }
}
/* Table Styles */
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: rgb(255, 196, 0);
    color: rgb(0, 0, 0);
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

img {
    border-radius: 50%;
}

.container {
    margin-bottom: 15rem;
}


